%Header
<div class='col-md-9 rcolw'>
<div style="padding:20px;">

<?php
	$bcrumps['prefix']      = "";
	$bcrumps['suffix']      = "";
	$bcrumps['active']      = "%NAME";
	$bcrumps['active_link'] = "%NAME";
	$bcrumps['unactive']    = "<a href=\"%URL\">%NAME</a>";
	$bcrumps['divider']     = "&nbsp;&gt;&nbsp;";
	echo "<div class=\"xsmall\">".nc_browse_path($bcrumps)."</div>";
$url=$nc_core->url->get_parsed_url();

if ($current_sub["Subdivision_ID"]==1716) {
	echo "<p class=\"h1\">{$nc_core->page->get_h1()}</p>";
	//echo s_list_class(134, 170);
	//echo nc_objects_list( 134, 170, "&nc_ctpl=88" );
	//nc_browse_messages($cc_env, 15) 
	$startpage=0;
	if ((isset($_GET['curPos']))&&(is_numeric($_GET['curPos']))) {
		$startpage=intval($_GET['curPos']);
	}
	$lastpage=0;
	$itemsperpage=20;

	$sql1="SELECT m.Message_ID , CONCAT( u.Hidden_URL, s.EnglishName, '_', m.Message_ID, '.html' ) AS URL
		FROM (`Message22` AS m, `Subdivision` AS u, `Sub_Class` AS s)
		LEFT JOIN Message22 AS parent ON ( m.`Parent_Message_ID` !=0 AND m.`Parent_Message_ID` = parent.`Message_ID` )  
						WHERE  m.`Checked`=1 
							AND s.`Subdivision_ID` = m.`Subdivision_ID`
							AND s.`Sub_Class_ID` = m.`Sub_Class_ID`
							AND u.`Subdivision_ID` = m.`Subdivision_ID`
							AND m.Subdivision_ID=160 AND m.Sub_Class_ID=194
		ORDER BY Message_ID DESC ";
	//echo $sql1;
	$res1 = (array) $nc_core->db->get_results($sql1);
	$lastpage=ceil(count($res1)/$itemsperpage);
	
	// list of articles

	$sql="SELECT m . * , CONCAT( u.Hidden_URL, s.EnglishName, '_', m.Message_ID, '.html' ) AS URL
		FROM (`Message22` AS m, `Subdivision` AS u, `Sub_Class` AS s)
		LEFT JOIN Message22 AS parent ON ( m.`Parent_Message_ID` !=0 AND m.`Parent_Message_ID` = parent.`Message_ID` )  
						WHERE  m.`Checked`=1 
							AND s.`Subdivision_ID` = m.`Subdivision_ID`
							AND s.`Sub_Class_ID` = m.`Sub_Class_ID`
							AND u.`Subdivision_ID` = m.`Subdivision_ID`
							AND m.Subdivision_ID=160 AND m.Sub_Class_ID=194
		ORDER BY Message_ID DESC LIMIT {$startpage},{$itemsperpage}";
	$res = (array) $nc_core->db->get_results($sql);
	foreach ($res as $r) {
?>
		<div>
			<div class="h4"><a href="/news/news_<?=$r->Message_ID?>.html"><?=$r->Title?></a></div>
			<?=$r->Announce?>
			<br clear="both">
		</div>
		
<?php
	}	
	echo "<ul class=\"pager\">";
	for ($j=0;$j<$lastpage;$j++) {
		echo "<li><a href=\"/news/?curPos=".($j*$itemsperpage)."\">".($j+1)."</a></li>";
	}
	echo "</ul>";
} else {
	echo "<p class=\"h1\">{$nc_core->page->get_h1()}</p>";
$vnd=array();

$vnd[164]=1;
$vnd[1800]=2;
$vnd[166]=3;
$vnd[167]=4;
$vnd[1862]=5;
$vnd[319]=6;
$vnd[170]=7;
$vnd[171]=8;
$vnd[1909]=9;
$vnd[173]=10;
$vnd[322]=11;
$vnd[175]=12;
$vnd[1879]=14;
$vnd[1893]=15;
$vnd[178]=16;
$vnd[1818]=17;
$vnd[1837]=18;
$vnd[181]=19;
$vnd[182]=20;
$vnd[183]=21;
$vnd[1867]=22;
$vnd[185]=23;
$vnd[1852]=24;
$vnd[187]=25;
$vnd[190]=26;
$vnd[1914]=27;
$vnd[327]=28;
$vnd[324]=30;
$vnd[196]=31;
$vnd[197]=29;
$vnd[1912]=32;
$vnd[1857]=33;
$vnd[1906]=34;
$vnd[1855]=35;
$vnd[329]=36;
$vnd[318]=37;
$vnd[269]=38;
$vnd[313]=39;
$vnd[1870]=40;
$vnd[290]=41;
$vnd[1843]=42;
$vnd[294]=43;
$vnd[314]=44;
$vnd[297]=45;
$vnd[298]=46;
$vnd[1888]=47;
$vnd[1815]=48;
$vnd[1840]=54;
$vnd[1876]=63;
$vnd[1874]=69;
$vnd[1846]=82;
$vnd[1881]=83;
$vnd[1830]=89;
$vnd[1822]=91;

$sub=$current_sub["Subdivision_ID"];
$itemsperpage=10;	
$curp=isset($_GET['p']) ? intval($_GET['p']) : 1;	
$query="SELECT video,videosmall FROM Message57 WHERE Vendor=".$vnd[$sub]." AND Checked=1 AND showrkfive=1 AND video=1 AND not videosmall=''";
$res=(array) $nc_core->db->get_results($query);
$nump=count($res)/$itemsperpage;
echo "<p style='text-align:left;'>Страницы:&nbsp;&nbsp;";
for ($j=1; $j<$nump+1; $j++) { //>
	echo ($j==$curp) ? "<b>" : "";
	echo "<a href='".substr($_SERVER['REQUEST_URI'], 0,strpos($_SERVER['REQUEST_URI'],"?"))."?p={$j}'>".$j."</a>&nbsp;&nbsp;";
	echo ($j==$curp) ? "</b>" : "";
}
echo "</p><br>";

//echo count($res);	
	
	$query="SELECT m.Name, m.ItemID, m.Price, m.Status, m.StockUnits, m.video,m.videocreated,m.videosmall,m.videobig,m.special,CONCAT( u.Hidden_URL, s.EnglishName, '_', m.Message_ID, '.html' ) AS URL
		FROM (`Message57` AS m, `Subdivision` AS u, `Sub_Class` AS s)
		WHERE s.`Subdivision_ID` = m.`Subdivision_ID`
		AND s.`Sub_Class_ID` = m.`Sub_Class_ID`
		AND u.`Subdivision_ID` = m.`Subdivision_ID` 
		AND m.Vendor=".$vnd[$sub]." AND m.Checked=1 AND m.video=1 AND not m.videosmall='' ORDER BY m.videocreated DESC 
		LIMIT ".($itemsperpage*($curp-1)).",10"; //.($itemsperpage*$curp)." ";
		
	$res = (array) $nc_core->db->get_results($query);
	//echo $res[0]->videobig."<br><strong><a href='".$res[0]->URL."'>".$res[0]->Name."</a></strong><br clear='both'><br>";
	for ($i=0; $i<count($res); $i++) { //>
	echo "<div style='width:420px; height:305px; margin:5px;float:left;'>".$res[$i]->videosmall."
	<p style='text-align:left;'><a href='".$res[$i]->URL."'><b>".$res[$i]->Name."</b></a></p>
	<p style='text-align:left;'>".(($res[$i]->videocreated!="0000-00-00 00:00:00") ? date("d.m.Y",strtotime($res[$i]->videocreated)) : "")."</p>
		</div>";
	}
		//}
echo "<br clear='both'><p style='text-align:left;'>Страницы:&nbsp;&nbsp;";
for ($j=1; $j<$nump+1; $j++) { //>
	echo ($j==$curp) ? "<b>" : "";
	echo "<a href='".substr($_SERVER['REQUEST_URI'], 0,strpos($_SERVER['REQUEST_URI'],"?"))."?p={$j}'>".$j."</a>&nbsp;&nbsp;";
	echo ($j==$curp) ? "</b>" : "";
}
echo "</p><br>";



}
?>
