%Header
<?php
	$bcrumps['prefix']      = "";
	$bcrumps['suffix']      = "";
	$bcrumps['active']      = "%NAME";
	$bcrumps['active_link'] = "%NAME";
	$bcrumps['unactive']    = "<a href=\"%URL\">%NAME</a>";
	$bcrumps['divider']     = "&nbsp;&gt;&nbsp;";
?>
<div class='col-md-9 rcolw'>
<div style="padding:20px;">
<div class="xsmall">
	<?=nc_browse_path($bcrumps)?>
</div>
<p class="h1"><?=$nc_core->page->get_h1()?></p>

<?php
$url=$nc_core->url->get_parsed_url();
$tmp=explode("/",$url['path']);
//print_r($tmp);
$m_id=0;
if (count($tmp)==4) {
	// steel page
	$tmp1=explode("-",$tmp[2]);
	$m_id=intval($tmp1[1]);
	$m_name="";
	
	if ($m_id!=0) {
		//print_r($current_sub);
		$j=0;
		$query="SELECT steel_Name FROM Classificator_steel WHERE steel_ID=".$m_id;
		$res=(array) $nc_core->db->get_results($query);
		for ($i=0; $i<count($res); $i++) { 
			$m_name=$res[$i]->steel_Name;
		}
		
		echo "
		<div>
			<a href='/steel/steel-".$m_id."/' ".((!isset($_GET['on'])) ? " class='btn btn-default disabled btn-sm'" : "class='btn btn-default btn-sm'").">в наличии</a> 
			<a href='/steel/steel-".$m_id."/?on=0' ".(((isset($_GET['on']))&&($_GET['on']==0)) ? " class='btn btn-default disabled btn-sm'" : "class='btn btn-default btn-sm'").">все</a>
		</div>
		<br clear='both'>";
		$nal=(!isset($_GET['on'])) ? "m.status=2" : "";

		$query1="SELECT m.*, CONCAT(u.Hidden_URL, s.EnglishName, '_', m.Message_ID, '.html') as URL
						FROM (`Message57` as m, `Subdivision` as u, `Sub_Class` as s)
						  LEFT JOIN Message57 as parent
							ON (m.`Parent_Message_ID` != 0 AND m.`Parent_Message_ID` = parent.`Message_ID`)
						  
						WHERE m.`Checked`=1 
							AND s.`Subdivision_ID` = m.`Subdivision_ID`
							AND s.`Sub_Class_ID` = m.`Sub_Class_ID`
							AND u.`Subdivision_ID` = m.`Subdivision_ID`
							AND m.Subdivision_ID NOT IN (153,161,102,139,280)  AND m.additcharacter NOT LIKE '%,16,%' AND m.showrkfive=1
					
							AND m.steel=".$m_id." ".(($nal!="") ? " AND ".$nal : "" )."
					ORDER BY m.Name ASC,m.StockUnits DESC";			
		//echo $query1."<br>";
		$res = (array) $nc_core->db->get_results($query1);
		echo "<br><p>Всего товаров: ".count($res)."</p>
	</div>";
		for ($i=0;$i<count($res); $i++) { // >	
			echo "<div class='col-md-3 itemcol'>";
			echo printItemById5($res[$i]->Message_ID,$res[$i]->Subdivision_ID,$res[$i]->Sub_Class_ID,$res[$i]->ItemID,$res[$i]->Name,$res[$i]->URL,$res[$i]->StockUnits,$res[$i]->Preview,$res[$i]->Price,$res[$i]->status);
			echo "</div>";
		}	
		


		
	}
	echo "<div>";
}

if (count($tmp)==3) {
	// список производителей
	$sql="SELECT * FROM Classificator_steel WHERE Checked=1 ORDER BY steel_Name ASC";
	$res=(array) $nc_core->db->get_results($sql);
	echo "<ul style=\"list-style:none;\">";
	for ($i=0; $i<count($res); $i++) { 
		echo "<li><a href=\"/steel/steel-{$res[$i]->steel_ID}/\">{$res[$i]->steel_Name}</a></li>";
	}
	echo "</ul>";
}
?>

<br>