<?php
$browse_sub[0]['active'] = "<li><a href='%URL'>%NAME</a></li>\n";
$browse_sub[0]['active_link'] = "<li><a href='%URL'>%NAME</a></li>\n";
$browse_sub[0]['unactive'] = "<li><a href='%URL'>%NAME</a></li>\n";


$cat_template1[0]['prefix']      = "";
$cat_template1[0]['suffix']      = "";
$cat_template1[0]['active']      = "<li><label label-default=\"\" class=\"tree-toggle nav-header\"><a href=\"%URL\">%NAME</a></label></li>\n";
$cat_template1[0]['active_link'] = "<li><label label-default=\"\" class=\"tree-toggle nav-header\"><a href=\"%URL\">%NAME</a></label></li>\n";
$cat_template1[0]['unactive']    = "<li><label label-default=\"\" class=\"tree-toggle nav-header\"><a href=\"%URL\">%NAME</a></label></li>\n";
$cat_template1[0]['divider']     = "";
$cat_template1[0]['sortby']      = "Priority ASC";

$cat_template2[0]['prefix']      = "";
$cat_template2[0]['suffix']      = "";
$cat_template2[0]['active']      = "<div class=\"cat2lvl\"><a href=\"%URL\">%NAME</a></div>\n";
$cat_template2[0]['active_link'] = "<div class=\"cat2lvl\"><a href=\"%URL\">%NAME</a></div>\n";
$cat_template2[0]['unactive']    = "<div class=\"cat2lvl\"><a href=\"%URL\">%NAME</a></div>\n";
$cat_template2[0]['divider']     = "";
$cat_template2[0]['sortby']      = "Priority ASC";

$cat_template[0]['prefix']      = "";
$cat_template[0]['suffix']      = "";
$cat_template[0]['active']      = "<li><a href=\"%URL\">%NAME</a>\n %NEXT_LEVEL</li>\n";
$cat_template[0]['active_link'] = "<li><a href=\"%URL\">%NAME</a>\n %NEXT_LEVEL</li>\n";
$cat_template[0]['unactive']    = "<li><a href=\"%URL\">%NAME</a>\n %NEXT_LEVEL</li>\n";
$cat_template[0]['divider']     = "";
$cat_template[0]['sortby']      = "Priority ASC";

$cat_template[1]['prefix']      = "<ul class=\"nav tree\">\n";
$cat_template[1]['suffix']      = "</ul>";
$cat_template[1]['active']      = "<li><a href=\"%URL\">%NAME</a></li>\n";
$cat_template[1]['active_link'] = "<li><a href=\"%URL\">%NAME</a></li>\n";
$cat_template[1]['unactive']    = "<li><a href=\"%URL\">%NAME</a></li>\n";
$cat_template[1]['divider']     = "";
$cat_template[1]['sortby']      = "Priority ASC";
?>