<!-- Header --><!DOCTYPE html>
<html>
<head>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>rk shop</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/dopstyle.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/fonts/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<div class="row top1">
			<div class="col-md-2 col-sm-2">
				<div class="logo"><img src="/images/template6/logo.png"></div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="phone">
					<div class="pnum">+7 495 225-54-92</div>
					<div class="wtime"><strong>Пн.-Пт.:</strong> 11.00-19.00; <strong>Сб.:</strong> 10.30-17.00</div>
				</div>
            </div>
			<div class="col-md-2 col-sm-2">
				<div class="enter">
					<a href="" class="btn btn-default blue">Войти</a>
				</div>
            </div>
			<div class="col-md-2 col-sm-2">
				<div class="topcart">
					<img src="/images/template6/i_cart.png">
					<a href="#" class="green">Корзина</a>
				</div>
            </div>
		</div>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="/">Магазин Русские Ножи</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			<div class="container">
				<ul class="nav navbar-nav">
					<?=s_browse_level(0,$browse_sub[0])?>
					<!--li><a href="#">Как оформить заказ</a></li>
					<li><a href="#">Доставка и оплата</a></li>
					<li><a href="#">Статьи</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Видео</a></li>
					<li><a href="#">Прайс</a></li>
					<li><a href="#">Модели ножей</a></li>
					<li><a href="#">Контакты</a></li-->
				</ul>
			</div>
			</div>
		</nav>
		<div class="row bcontent">
			<div class="col-md-3">
				<div class="panel panel-info">
					<div class="panel-heading">Подобрать нож</div>
					<div class="panel-body">Form
						<br>
						
					</div>
					<div class="panel-footer"><a href="" class="btn btn-success">Подобрать</a></div>
				</div>
				<div class="panel panel-info">
					<!--div class="panel-body"-->
						<ul class="list-group">
							<li class="list-group-item">Булатные ножи</li>
							<li class="list-group-item">Охотничьи ножи</li>
							<li class="list-group-item">Складные ножи</li>
						</ul>
						
					<!--/div>
				</div-->
				</div>
				<div class="panel panel-info">
					<div class="panel-heading">Новости</div>
					<div class="panel-body">каталог
						<br>
						
					</div>
					<div class="panel-footer"><a href="">Все новости</a></div>
				</div>
			</div>
			<div  class="col-md-9"><!-- /Header -->

<!-- Footer -->			</div>
		</div>
		<div class="row btm">
			<div class="col-md-12 col-sm-12 btm-menu">
				<ul>
					<li><a href="/">Магазин Русские ножи</a></li>
					<?=s_browse_level(0,$browse_sub[0])?>
				</ul>
			</div>
		</div>
		
		<div class="row footer">
			<div class="col-md-3">
				<div class="copy">
					© 2010 - 2016 "Русские ножи" <br>
					Магазин ножей - купить нож
				</div>
			</div>
			<div class="col-md-6">
				<div class="footertext">
					Телефоны: +7 (495) 225-54-92, 225-76-84<br>
e-mail: admin@russian-knife.ru<br>

Адрес офиса: 11103, г.Москва, Таможенный проезд, д.6, офис 212
				</div>
			</div>
			<div class="col-md-3">
			</div>
		</div>
		
	</div>
	

		
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>
</body>
</html><!-- /Footer -->